@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e8e8e8 inset !important;
    -webkit-text-fill-color: #2c1e0e !important;
  }
  html {
    scrollbar-width: 0px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .gold-gradient {
    background: linear-gradient(
      64.18deg,
      #eed587 0%,
      #b88409 50%,
      #c59727 99.5%
    );
  }
  .linear {
    background: linear-gradient(
      64.18deg,
      #c59727 0%,
      #b88409 55.86%,
      #eed587 100%
    );
  }
}
.qr-scanner-preview{
    height:15rem;
    max-width: 20rem;
    width:100%;
    border-radius:1.3rem;
    overflow: hidden;
  }


  @media (max-width: 480px) {
    .qr-scanner-preview {
      height: 12rem
    }
  }

@layer components {  
  .link svg {
    @apply fill-text-black;
  }
  .link.active {
    @apply bg-main-one-light;
  }
  .link .label {
    @apply text-main-one;
    visibility: hidden;
    display: none;
  }
  .link.active .label {
    @apply text-main-one;
    visibility: visible;
    display: block;
  }
  .link.active svg {
    @apply fill-main-one;
  }

  /* Glass PROST! */
  .glass-container {
    position: relative;
    width: 225px;
    height: 225px;
  }
  .glass-container-small {
    position: relative;
    width: 135px;
    height: 90px;
  }
  .glass {
    position: absolute;
    transform-origin: bottom center;
  }
  .glass-left {
    left: 30px;
    animation: cheer-left 3s infinite;
  }
  .glass-right {
    right: 30px;
    animation: cheer-right 3s infinite;
  }

  @keyframes cheer-left {
    0%,
    100% {
      transform: rotate(10deg) translateY(0);
    }
    25% {
      transform: rotate(-10deg) translateY(-20px);
    }
    50% {
      transform: rotate(10deg) translateY(0);
    }
    75% {
      transform: rotate(-10deg) translateY(-20px);
    }
  }
  @keyframes cheer-right {
    0%,
    100% {
      transform: rotate(-10deg) translateY(0);
    }
    25% {
      transform: rotate(10deg) translateY(-20px);
    }
    50% {
      transform: rotate(-10deg) translateY(0);
    }
    75% {
      transform: rotate(10deg) translateY(-20px);
    }
  }
  .glass-shadow {
    position: absolute;
    left: 50%;
    width: 175px;
    height: 20px;
    bottom: 0px;
    background-color: rgba(132, 90, 39, 0.7);
    border-radius: 50%;
    transform: translateX(-50%);
    animation: shadow 3s infinite;
    filter: blur(15px);
  }

  @keyframes shadow {
    0%,
    100% {
      transform: translateX(-50%) scale(1);
    }
    25%,
    75% {
      transform: translateX(-50%) scale(1.2);
    }
    50% {
      transform: translateX(-50%) scale(1);
    }
    75% {
      transform: translateX(-50%) scale(1.2);
    }
  }
}
