.videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 15px;
  
    .qrVideo {
      object-fit: cover;
      border: 1px solid #ddd;
      width: 350px;
      height: 250px;
      border-radius: 50px;
    }
  }
  
  .scannedText {
    word-wrap: break-word;
  }
  